<div id="image">
  <div class="container h-100 align-items-start">
    <div class="row h-100 align-items-end pb-4">
      <div class=" col-lg text-start">
        <h1 class="image-text font-weight-normal text-white pl-3 pr-3">Tilmeldte events</h1>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-2"></div>
  <section class="eventList pt-4 col-lg-6">

    <!-- List of events -->
    <div *ngFor="let event of filteredEvents | async" class="container">
      <div class="event row p-1 pb-3">
        <div class="pt-2">
          <img id="eventIcon" src="../../../assets/images/pin.png">
        </div>
        <div class="col-sm">
          <a [routerLink]="['/events', event.eventId, event.name]" class="btn btn-link" id="eventLink"
             routerLinkActive="active">
            <h4 class="pt-1">{{event.name}}</h4>
          </a>
          <div class="row pl-3" id="date">
            <label>{{event.eventStart | date}} - {{event.eventEnd | date}}</label>
          </div>
          <div class="row pl-3" id="city">
            <label>{{event.city}}</label>
          </div>
        </div>
        <div class="col-sm pt-4">
          <div class="row">
            <label class="font-weight-bold pr-1">Team navn:</label>
            <label>{{event.teamName}}</label>
          </div>
          <div class="row">
            <label class="font-weight-bold pr-1">Båd: </label>
            <label>{{event.shipName}}</label>
          </div>
        </div>
        <div class="col-sm pt-4">
          <button (click)="unSubToEvent(event)" *ngIf="event.actualEventStart === undefined"
                  class="btn btn-outline-danger">Afmeld
            <a class="fa fa-times"></a>
          </button>
        </div>
      </div>
    </div>
    <div *ngIf="!(events | async) || (events | async).length === 0">
      <p>Du er endnu ikke tilmeldt nogen events</p>
    </div>
  </section>

  <!-- Right side menu -->
  <div class="col" id="rightMenu">
    <form class="form-inline p-3 pt-3">
      <input [formControl]="filter" aria-label="Søg" class="form-control mr-sm-2 form-control-sm"
             placeholder="Søg efter event" type="search">
      <button class="btn btn-outline-info my-2 my-sm-0 btn-sm" type="submit">Søg</button>
    </form>

    <!-- Participant submit form -->
    <div class="container justify-content-center col-sm-9 mt-5">
      <form #SignUpForm="ngForm" (ngSubmit)="OnSubmit(SignUpForm)" class="p-3 pt-4 justify-content-center"
            id="eventReg">
        <div class="row justify-content-center pb-3">
          <h3 class="font-weight-normal">Tilmeld dig et event her</h3>
        </div>
        <div class="row justify-content-center pb-2">
          <div class="col">
            <input #teamName="ngModel" [(ngModel)]="model.teamName" class="form-control mr-sm-2 form-control-sm"
                   name="teamName" placeholder="Team navn" required>
          </div>
          <div class="col-sm-2 pt-1" id="selectLabel">
            <label>Båd: </label>
          </div>
          <div class="col p-0 pr-3">
            <select [(ngModel)]="model.ship" class="form-control" id="select" name="shipName" required>
              <option *ngFor="let ship of (ships | async)" [ngValue]="ship">{{ship.name}}</option>
            </select>
          </div>
        </div>
        <div class="row justify-content-center pr-3">
          <div class="col">
            <input #eventCode="ngModel" [(ngModel)]="model.eventCode" class="form-control mr-sm-2 form-control-sm"
                   name="eventCode" placeholder="Eventkode" required>
          </div>
          <button [disabled]="!SignUpForm.form.valid" class="btn btn-info my-sm-0 btn-sm "
                  type="submit">Tilmeld
          </button>
        </div>
        <div *ngIf="alreadySignedUp" class="row justify-content-center pt-2">
          <label>Du er allerede tilmeldt dette event</label>
        </div>
        <div *ngIf="WrongEventCode" class="row justify-content-center pt-2">
          <label>Ugyldig eventkode</label>
        </div>
      </form>
    </div>
  </div>
</div>
