<div class="row">
  <div class="col-lg-2"></div>

  <!-- map -->
  <section class="eventList pt-4 col-lg-6">
    <div #mapContainer id="map"></div>
  </section>

  <!-- Right side menu -->
  <div class="col" id="rightMenu">
    <div class="row pt-4 pl-3">
      <h3>Event: </h3>
      <h3 class="font-weight-light pl-2">{{event.name}}</h3>
    </div>

    <!-- List of checkpoints -->
    <div class="row pl-3 pr-3" id="checkPoints">

      <table class="table justify-content-center" id="table">
        <tr>
          <th class="pl-2 pt-1">CheckPoint</th>
          <th class="pl-3 pt-1">Pin koordinater</th>
          <th class="pt-1">Pin koordinater</th>
        </tr>

        <tr *ngFor="let checkPoint of checkPoints">
          <td class="text-center">{{checkPoint.id}}</td>
          <td class="pl-3 pr-0">{{checkPoint.pin1.position}}</td>
          <td>{{checkPoint.pin2.position}}</td>
          <td class="pr-5 mr-5">
            <button (click)="deleteCheckPoint(checkPoint)" class="btn" id="removeCheckPoint" type="button">
              <i class="fa fa-times-circle"></i>
            </button>
          </td>
        </tr>
      </table>
    </div>
    <div *ngIf="checkPoints.length > 1" class="row justify-content-center">
      <button (click)="saveRoute()" class="btn btn-info mb-3">Gem rute</button>
    </div>
  </div>
</div>
