<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Mailer view - Proof of Concept</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="/css/normalize.css" rel="stylesheet">
    <link href="/css/skeleton.css" rel="stylesheet">
</head>
<body>
<div class="section">
    <div class="container"
         style="text-align: center; justify-content: center; align-items: center; display: flex; height: 100vh; flex-direction: column;">

        <% if (state=='sent') { %>
        <div class="row" style="margin-bottom: 28px;">
            Hi <em><%= name %></em>, message was sent to <em><%= email %></em>!
        </div>
        <% } %>

        <div class="row" style="text-align: left;">
            <form action="/" method="POST">
                <label>Name</label>
                <input class="u-full-width" name="name" placeholder="" required type="text">
                <label>Email</label>
                <input class="u-full-width" name="email" placeholder="" required type="email">
                <input class="u-pull-right" type="submit" value="Submit">
            </form>
        </div>
    </div>
</div>
</body>
</html>
