<div id="image">
  <div class="container h-100 align-items-start">
    <div class="row h-100 align-items-end pb-4">
      <div class=" col-lg text-start">
        <h1 class="image-text font-weight-normal text-white pb-2 pl-3 pr-3">Din profil</h1>
      </div>
    </div>
  </div>
</div>

<div class="row" id="main">
  <div class="col-lg-2"></div>
  <div class="pt-5 col-lg-6">
    <div id="profileInfo">
      <h4 class="ml-5 mb-4">Dine profiloplysninger</h4>

      <!-- Form for user information -->
      <form #updateUserForm="ngForm" (ngSubmit)="OnSubmit()" class="form">
        <div class="row register-form ml-3">
          <div class="col-md-6">
            <div class="form-group  ml-3">
              <input #first="ngModel" [(ngModel)]="userModel.firstname" class="form-control" name="firstname"
                     pattern="^[a-zA-ZÆØÅæøå ]*" placeholder="Fornavn" required type="text"/>
              <div *ngIf="first.invalid && first.touched">
                <div *ngIf="first.errors.required">
                  Fornavn er nødvendig
                </div>
                <div *ngIf="first.errors.pattern">
                  Fornavn må kun indeholde bogstaver
                </div>
              </div>
            </div>
            </div>

        <div class="col-md-6">
        <div class="form-group mr-3">

          <input #lastname="ngModel" [(ngModel)]="user.lastname" class="form-control" name="lastname"
                 placeholder="Efternavn" required type="text"/>

          <div *ngIf="lastname.invalid && lastname.touched">
            <div *ngIf="lastname.errors.required">
              Efternavn er nødvendig
            </div>
            <div *ngIf="lastname.errors.pattern">
              Efternavn må kun indeholde bogstaver
            </div>
          </div>
        </div>
      </div>
      </div>

        <div class="row ml-5 mb-2">
          <div class="col-xsm">
            <input #pass="ngModel" [(ngModel)]="userModel.password" class="form-control" minlength="8"
                   name="pass" pattern="^(?=.*[a-zA-ZÆØÅæøå])(?=.*\d)[a-zA-ZÆØÅæøå\d]*$" placeholder="Gamle Kode"
                   required type="password" value=""/>

            <div *ngIf="pass.invalid && pass.touched">
              <div *ngIf="pass.errors.required">
                Adgangskode er nødvendig
              </div>
              <div *ngIf="pass.errors.pattern">
                Adgangskoden skal indeholde både tal og bogstaver
              </div>
              <div *ngIf="pass.errors.minlength">
                Adgangskoden skal være mindst 8 karakterer lang
              </div>
            </div>
            </div>
          <div>
            <input #password="ngModel" [(ngModel)]="user.password" class="form-control" minlength="8"
                   name="password" pattern="^(?=.*[a-zA-ZÆØÅæøå])(?=.*\d)[a-zA-ZÆØÅæøå\d]*$" placeholder="Ny Kode"
                   required style="margin-inline: 2%" type="password" value=""/>

            <div *ngIf="password.invalid && password.touched">
              <div *ngIf="password.errors.required">
                Adgangskode er nødvendig
              </div>
              <div *ngIf="password.errors.pattern">
                Adgangskoden skal indeholde både tal og bogstaver
              </div>
              <div *ngIf="password.errors.minlength">
                Adgangskoden skal være mindst 8 karakterer lang
              </div>
            </div>
          </div>

        </div>
        <div class="row ml-5">
          <div>
            <div class="form-group">
              <input #email="ngModel" [(ngModel)]="userModel.emailUsername" class="form-control"
                     name="email" pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$"
                     placeholder="Email"
                     required
                     type="email"/>
              <div *ngIf="email.invalid && email.touched">
                <div *ngIf="email.errors.required">
                  Email er nødvendig
                </div>
                <div *ngIf="email.errors.pattern">
                  Ugyldig email
                </div>
              </div>
            </div>
          </div>
          <div>
            <button [disabled]="!updateUserForm.form.valid" class="btn btn-outline-info ml-3"
                    type="submit">Gem ændringer
            </button>
          </div>
        </div>
      </form>
    </div>

    <!-- List of ships -->
    <div *ngFor="let ship of ships | async" class="container pt-4 ml-4">
      <div class="row p-1 pb-3">
        <div class="pt-2">
          <img id="ship" src="../../../assets/images/boatIcon.png">
        </div>
        <div class="col-xsm pt-4 pl-1">
          <h5 class="font-weight-normal">{{ship.name}}</h5>
        </div>
        <div class="col pt-3 pl-3">
          <button (click)="deleteShip(ship)" class="btn">
            <i class="fa fa-times-circle"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Right side menu -->
  <div class="col" id="rightMenu">

    <!-- Form for submitting new ship -->
    <form #AddShipForm="ngForm" (ngSubmit)="OnShipSubmit()" class="p-3 pt-4 justify-content-center" id="addShip">
      <div class="row justify-content-center pb-3">
        <h3 class="font-weight-normal">Tilføj båd her</h3>
      </div>
      <div class="row justify-content-center pb-2">
        <div class="col">
          <input #shipName="ngModel" [(ngModel)]="model.name" class="form-control mr-sm-2 form-control-sm"
                 name="shipName" placeholder="Båd navn" required>
        </div>
        <button [disabled]="!AddShipForm.form.valid" class="btn btn-info my-sm-0 btn-sm mr-3"
                type="submit">Tilføj båd
        </button>
      </div>
    </form>
  </div>
</div>
