<div class="register">
  <div class="register-left">
    <img src="assets/images/shipIcon.png"/>
    <h3 class="header">Log ind</h3>

    <!-- Login form -->
    <form (ngSubmit)="OnSubmit()" class="form">
      <input #email="ngModel" [(ngModel)]="model.emailUsername" class="form-control" name="email"
             placeholder="Email/brugernavn" type="text">
      <input #password="ngModel" [(ngModel)]="model.password" class="form-control" name="password"
             placeholder="Adgangskode" type="password">
      <div *ngIf="(email.touched || password.touched) && (email.pristine || password.pristine)">
        <div *ngIf="wrongLogin">
          Der findes ikke en bruger med den indtastede email
        </div>
        <div *ngIf="wrongPassword">
          Forkert adgangskode
        </div>
      </div>
      <br/>
      <input id="login" routerLink="/logind" type="submit" value="Login"/>
    </form>
    <br/>
    <p><a routerLink="/tilmelding">Opret profil</a></p>
  </div>
</div>
